.hemp-1 {
   background-image: url(assets/images/hemp-1.jpg)
}
.hemp-2 {
   background-image: url(assets/images/hemp-2.jpg);
   background-position: 50% 15% !important;
}
.hemp-3 {
   background-image: url(assets/images/hemp-3.jpg)
}