body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: 'Open Sans', sans-serif;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

.section-title {
	font-size: 38px;
	font-weight: 500;
	color: #213055;
}

.section-subtitle {
	font-size: 1rem; 
	line-height: 26px;
	color: rgba(33, 38, 51, 0.733);
}