#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: white;
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(16, 27, 110, 0.19);
    z-index: -1;
  }

  .hero-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 260px;
    padding: 20px 5px 65px;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(61, 51, 217, 0)), color-stop(32%, rgba(16, 55, 164, 0.08)), to(rgba(11, 55, 158, 0.23)));
    background-image: linear-gradient(0deg, rgba(61, 51, 217, 0), rgba(16, 55, 164, 0.08) 32%, rgba(11, 55, 158, 0.23));

    .hero-nav-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%;
      max-width: 1250px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;

      .home-nav-col {
        display: flex;
        align-items: center;
        width: 100%;
  
        .nav-circle {
          font-size: 1.6rem;
          width: 56px;
          height: 56px;
          background-color: #1b90e9;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center; 
          margin: 0 16px; 
  
          i {
            color: white;
          }
        }
      }
    }
    .logo {
      width: 300px;
    }
  }

  .center-cta-wrapper {
    position: absolute;
    bottom: 8%;
    width: 100%;

    .hero-cta-button {
      background: rgb(9, 99, 216);
      background: linear-gradient(180deg, rgb(9, 99, 216) 0%, rgb(18, 149, 224) 100%);
      border-radius: 20px;
      border: none;
      outline: none;
      padding: 14px 28px;
      color: #f5f6ff; 
      font-family: 'Montserrat';
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.2px;
    }
  }
}

/* #########################################
  Section 1
###########################################*/

.header-xl {
  position: relative;
  color: #272c42;
  font-family: 'Montserrat';
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 60px;
  z-index: 1;
}

.hero-product {
  max-width: 500px;
  width: 100%;
}

.text-slider-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 80px;

  #carousel-content {
    height: 100%;

    .carousel-indicators{
      li {
        background: black;
      }
    }
    .carousel-item {
      height: 100%;

      .slider-header {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 55px;
        line-height: 60px;
        text-transform: uppercase;
      }
      .slider-text {
        font-size: 21px;
        line-height: 35px;
        color: rgba(33, 38, 51, 0.733);
      }
    }
    .arrow {
      color: black;
    }
  }
}

/* #########################################
  Banner Section
###########################################*/

.products-banner {
  padding: 25px 12px;
  width: 100%;
  display: flex;
  direction: row;
  justify-content: space-around;
  align-content: center;
  background: rgb(26,143,221);
  background: linear-gradient(90deg, rgba(26,143,221,1) 0%, rgba(42,157,223,1) 100%);

  .banner-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    color: #faf7f7;
    text-align: center;

    .product-banner-img-wrapper {
      width: 50%;
      text-align: center;

      img {
        max-width: 160px;
      }
    } 
    .product-banner-copy {
      width: 50%;
      
      .banner-heading {

      }
      .banner-text {

      }
    }
  }
}

/* #########################################
  Cards Section
###########################################*/

.card-section {
  .section-subtitle {
    max-width: 410px;
    margin: 15px auto;
  }
  
  .row-flex-container {
    justify-content: space-around;

    .info-card {
      max-width: 300px;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.123), 0 3px 6px rgba(0, 0, 0, 0.164);
      overflow: hidden;

      .card-image {
        min-height: 180px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .card-content {
        padding: 15px;
        height: 230px;

        .card-title {
          font-size: 1.4rem;
          font-weight: 500;
          letter-spacing: 1px;
          color: #1f2535;
        }
        .card-text {
          font-size: 1.05rem;
          font-weight: 500;
          color: #20283ad2
        }
      }
    }
  }
}

/* #########################################
  Banner Section 2
###########################################*/

#bg-banner {
  overflow: hidden;
  margin-top: 60px;
  position: relative;
  background-image: url(assets/images/stok.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .banner-wrapper {
    background-color: rgba(69, 120, 208, 0.219);
    color: white;
    padding: 7%;
    min-height: 500px;
    display: flex;
    align-items: center;
    
    .banner-content {
      max-width: 420px;

      .banner-title {
        font-size: 18px;
        margin: 0;
      }
      .subtitle {
        font-size: 18px;
      }
    }
  }
}


