#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: white;
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(16, 27, 110, 0.19);
    z-index: -1;
  }

  .hero-nav {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(11, 61, 155, 0.123) 32%, rgba(9, 55, 155, 0.212) 100%);
  }

  nav {
    height: 200px;
  }

  .logo {
    width: 300px;
  }

  .center-cta-wrapper {
    position: absolute;
    bottom: 8%;
    width: 100%;

    .hero-cta-button {
      background: rgb(9, 99, 216);
      background: linear-gradient(180deg, rgb(9, 99, 216) 0%, rgb(18, 149, 224) 100%);
      border-radius: 12px;
      border: none;
      outline: none;
      padding: 6px 20px;
      color: white; 
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

/* #########################################
  Section 1
###########################################*/

.header-xl {
  position: relative;
  color: #272c42;
  font-family: 'Montserrat';
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 60px;
  z-index: 1;
}

.hero-product {
  max-width: 500px;
  width: 100%;
}

.text-slider-wrapper {
  height: 100%;
  width: 100%;
  padding-top: 80px;

  #carousel-content {
    height: 100%;

    .carousel-indicators{
      li {
        background: black;
      }
    }
    .carousel-item {
      height: 100%;

      .slider-header {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 55px;
        line-height: 60px;
        text-transform: uppercase;
      }
      .slider-text {
        font-size: 21px;
        line-height: 35px;
        color: rgba(33, 38, 51, 0.733);
      }
    }
    .arrow {
      color: black;
    }
  }
}

/* #########################################
  Banner Section
###########################################*/

.products-banner {
  padding: 25px 12px;
  width: 100%;
  display: flex;
  direction: row;
  justify-content: space-around;
  align-content: center;
  background: rgb(26,143,221);
  background: linear-gradient(90deg, rgba(26,143,221,1) 0%, rgba(42,157,223,1) 100%);

  .banner-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    color: #faf7f7;
    text-align: center;

    .product-banner-img-wrapper {
      width: 50%;
      text-align: center;

      img {
        max-width: 160px;
      }
    } 
    .product-banner-copy {
      width: 50%;
      
      .banner-heading {

      }
      .banner-text {

      }
      .button-white {
        color: white;
        padding: 11px 20px;
        min-height: 42px;
        font-size: 15px;
        line-height: 15px;
        background: transparent;
        border-radius: 25px;
        border-style: solid;
        border-width: 2px;
        border-color: white;
        -webkit-transition: background-color 200ms, color 200ms; /* Safari prior 6.1 */
        transition: background-color 200ms, color 200ms;
      }
      .button-white:hover {
        color: black;
        background: white;
      }
    }
  }
}

/* #########################################
  Cards Section
###########################################*/

.card-section {
  .section-subtitle {
    max-width: 410px;
    margin: 15px auto;
  }
  
  .row-flex-container {
    justify-content: space-around;

    .info-card {
      max-width: 300px;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.123), 0 3px 6px rgba(0, 0, 0, 0.164);
      overflow: hidden;

      .card-image {
        min-height: 180px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .card-content {
        padding: 15px;
        height: 230px;

        .card-title {
          font-size: 1.4rem;
          font-weight: 500;
          letter-spacing: 1px;
          color: #1f2535;
        }
        .card-text {
          font-size: 1.05rem;
          font-weight: 500;
          color: #20283ad2
        }
      }
    }
  }
}

/* #########################################
  Banner Section 2
###########################################*/

#bg-banner {
  overflow: hidden;
  margin-top: 60px;

  .banner-wrapper {
    position: relative;
    background-image: url(assets/images/stok.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .banner-content {
      background-color: rgba(69, 119, 208, 0.26);
      color: white;
      padding: 7%;
      min-height: 500px;

      .subtitle {

      }
    }
  }
}


