#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  color: white;
  
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(16, 27, 110, 0.19);
    z-index: -1;
  }

  .hero-nav {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(11, 61, 155, 0.123) 32%, rgba(9, 55, 155, 0.212) 100%);
  }

  nav {
    height: 200px;
  }

  .logo {
    width: 300px;
  }

  .center-cta-wrapper {
    position: absolute;
    bottom: 8%;
    width: 100%;

    .hero-cta-button {
      background: rgb(9, 99, 216);
      background: linear-gradient(180deg, rgb(9, 99, 216) 0%, rgb(18, 149, 224) 100%);
      border-radius: 12px;
      border: none;
      outline: none;
      padding: 6px 20px;
      color: white; 
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

.header-xl {
  color: #272c42;
  font-family: 'Montserrat';
  text-align: right;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 80px;
  line-height: 60px;
}




