/* #########################################
  Main page navigation menu
###########################################*/

#main-nav {
  position: relative;
  height: 80px;
  width: 100%;
  padding: 20px;
  background: rgb(19,64,214);
  background: linear-gradient(81deg, rgba(19,64,214,1) 0%, rgba(76,189,255,1) 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
  .logo {
    width: 150px;
  }


  .top-menu {
    // @media screen and (min-width:992px) {
    // }

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      a {
        display: block;
        padding: 0 1rem;
        color: rgba(255, 255, 255, 0.808);
        text-decoration: none;
      }
      a:hover {
        color: #fff;
      }
    }
  }
}

/* #########################################
  Footer
###########################################*/

footer {
  color: white;
  padding: 40px 5%;
  background-color: #2a69d8;

  a {
    text-decoration: none;
    color: white;
  }

  .footer-container {
    max-width: 1340px;
    margin: 0 auto;
    
    .logo {
      width: 180px;
    }

    .top-footer {
      padding-bottom: 35px;
      border-bottom: solid;
      border-width: 1px;
      border-color: rgba(155, 158, 184, 0.26)
    }

    .lower-footer {
      margin-top: 35px;

      .footer-menu {
        display: flex;
        flex-direction: column;
        padding: 25px;

        .link-heading {
          padding: 12px 0;
          margin-bottom: 8px;
          display: inline-block;
          font-weight: 600;
          font-size: 1.12rem;
        }
        .footer-link {
          margin-bottom: 12px;
          font-size: 0.95rem;
          width: max-content;
          color: #d4d6e4;
        }
        .footer-link:hover {
          text-decoration: none;
          color: #ffffff
        }
      }
    }
  }
}

/* #########################################
  Circle Tabs
###########################################*/

.tabs-wrapper {
  padding-left: 2rem;
}

#circle-tabs-menu {
  border-bottom: none;
  margin: 0;
  color: white;

  .circle-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-right: 1.5rem;
    background: rgb(33,55,214);
    background: linear-gradient(32deg, rgba(33,55,214,1) 0%, rgba(25,182,236,1) 100%);
    border-radius: 50%;

    a{
      color: white;
      text-decoration: none;
    }
  }

  .tab-wrapper {
    height: 97%;
    width: 97%;
    border-radius: 50%;

    padding: 0 5px;
    background-color: white;

    .tab-title {
      color: #9ea2ac;
      line-height: 23px;
      font-weight: 800;
      font-size: 1.1rem;
      text-align: center;
      text-transform: uppercase;
    }
  }
}