/*--------------------------------------------------------------
## pages
--------------------------------------------------------------*/
@import "pages/front-page";

/*--------------------------------------------------------------
## Page Layout
--------------------------------------------------------------*/

.content-section {
  padding: 4rem 0;
}

.container-lg {
  max-width: 1140px;
}

.rmv-padding {
  padding: 0;
}

#page {
  overflow: hidden;
}
