/*--------------------------------------------------------------
## pages
--------------------------------------------------------------*/
@import "pages/front-page";

/*--------------------------------------------------------------
## Page Layout
--------------------------------------------------------------*/

#page {
  overflow: hidden;
}

.content-section {
  padding: 4rem 25px;
  max-width: 1190px;
  margin: 0 auto;
}

.banner-section {
  width: 100%;
}

.rmv-padding {
  padding: 0;
}

.vert-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row-flex-container {
  display: flex;
  flex-direction: row;
}

.top-margin {
  margin-top: 12px;
}

.lg-top-margin {
  margin-top: 40px;
}
